html {
    background-color: rgb(13, 7, 90);
    min-height: 1000px;
    font-family: "helvetica neue";
    background: url(fondo.jpg), rgb(4, 2, 73);
    background: url(fondo.jpg),
      -webkit-gradient(linear, right top, left top, from(#e1deec), to(#050505));
    background: url(fondo.jpg),
      linear-gradient(to left, #1f036b, #77060e);
  }
  
  h1 {
    color: rgb(226, 236, 240);
    padding: 10px;
  }
  
  .contenedor {
    max-width: 400px;
    margin: 50px auto;
    background: rgb(5, 158, 163);
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(233, 227, 227, 0.3);
  }
  
  #cabecero {
    background-color: #0a0861;
    text-align: center;
  }
  
  .elemento {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
  }
  
  .elemento:last-child {
    border-bottom: 0;
  }
  
  input[type="checkbox"] {
    margin: 20px;
  }
  
  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #0160db;
  }
  
  form {
    text-align: center;
    margin-left: 20px;
  }
  
  button {
    min-height: 100px;
    width: 100px;
    border-radius: 200%;
    border-color: transparent;
    background-color: #031c7c;
    color: #fff;
    font-size: 20px;
    padding-bottom: 6px;
    border-width: 1;
  }
  
  input[type="text"] {
    text-align: center;
    height: 25px;
    top: 10px;
    border-color: #77060e;
    background: transparent;
    font-weight: 200;
    width: 40%;
    color: #e1deec;
  }

  input[type="number"]{
    text-align: center;
    height: 30px;
    top: 10px;
    border-color: #77060e;
    background: transparent;
    font-weight: 200;
    width: 40%;
    color: #080120;
    
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #e60707;
  }
  
  ::placeholder {
    color: rgb(5, 0, 0);
    opacity: 1;
  }